<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Le Supercoin{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    {% block stylesheets %} {% endblock %} {% block javascripts %} {% endblock
    %}
  </head>
  <body>
    <div class="header-container">
      <div class="title">LeSupercoin</div>
      <div class="navbar-container">
        <div class="navbar-item">
          <a href="{{path('app_announcement')}}" style="text-decoration: {{ app.request.pathinfo == '/' ? "underline": "none" }}">Annonces</a>
        </div>
        <div class="navbar-item" >
          <a href="{{path('app_announcement_create')}}" style="text-decoration: {{ app.request.pathinfo == '/announcement/create' ? "underline": "none" }}">Déposer une annonce</a>
        </div>
      </div>
      <div class="authentication">
        {% if app.user %}
        <div class="authentication-item">
          <a href="{{path('app_logout')}}">Déconnexion</a>
        </div>
        {% else %}
        <div class="authentication-item">
          <a href="{{path('app_login')}}">Connexion</a>
        </div>
        <div class="authentication-item">
          <a href="{{path('app_register')}}">Inscription</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
